# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea

# server
/server/node_modules
/server/dist
/server/.env

# ui
/ui/node_modules
/ui/build

# misc
/ui/.env
/ui/.env.development
/ui/.env.test
/ui/.env.production

/ui/npm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
